* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  text-align: center;
}
#navbar {
  background-color: #be3144;
  color: white;
  height: 60px;
  width: 100%;
  margin-bottom: 0;
  font-size: 20px;
  position: fixed;
}
#nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0 20px;
  height: 100%;
}
#nav-list > li a {
  text-decoration: none;
  color: white;
  max-width: 110px;
  padding: 15px 25px;
  height: 100%;

  display: block;
}
#nav-list > li a:hover {
  background-color: #44567d;
}
#welcome-section {
  color: white;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  display: grid;
  align-content: center;
}
h1 {
  font-weight: 800;
  font-size: 55px;
}
#welcome-section > p {
  color: #be3144;
  font-weight: 100;
  font-style: italic;
}
#projects {
  background-color: #44567d;
  color: white;
  padding: 50px 0;
}
h2 {
  padding: 0;
  font-weight: 600;
  font-size: 40px;
  border-bottom: 2px solid white;
  max-width: 600px;
  margin: 60px auto;
}
#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  margin: 30px 15px;
}
img {
  width: 100%;
  height: 350px;
  margin-bottom: 0;
  size: cover;
}
.project-title {
  margin: 0;
  display: block;
  box-shadow: 2px 2px 2px #2d3953;
  display: block;
  background-color: #303740;
  text-decoration: none;
}

.project-name {
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
  display: inline-block;
}

.project-span {
  opacity: 0;
}
.project-title:hover .project-span {
  opacity: 1;
}
.project-span {
  color: orange;
  font-size: 15px;
  font-weight: 500;
  transition: 0.5s;
  padding: 5px;
}
#show_all {
  background-color: #303740;
  width: 250px;
  color: white;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 500;
  border: hidden;
  border-radius: 2px;
  line-height: 1;
  text-decoration: none;
}
#show_all:hover {
  background-color: #be3144;
}
#show_all:hover .button-span {
  padding-left: 3px;
  transition: 0.3s;
}
#contact {
  background-color: #303740;
  color: white;
  height: 460px;
  padding: 100px 0;
  border-bottom: 5px solid #be3144;
}
#contact-header {
  font-weight: 600;
}
#contact-paragraph {
  font-style: italic;
  font-weight: 100;
  font-size: 17px;
  margin-bottom: 40px;
}
#contact-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
.contact-item {
  display: block;
  margin: 0 20px;
}
.contact-item a {
  text-decoration: none;
  color: white;
  font-size: 23px;
  text-shadow: 2px 2px #1e1e20;
  display: inline-block;
}
#contact-list > li :hover {
  transform:translateY(10px);
  transition: all 0.5s;
}
#footer {
  background-color: #303740;
  font-size: 18px;
  font-weight: 100;
  color: white;
  display: flex;
  max-height: 150px;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  justify-items: flex-start;
}
#footer > p {
  padding: 0 20px;
  margin-top: 20px;
}

@media (max-width: 1075px) {
  #projects-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 715px) {
  #projects-grid {
    grid-template-columns: 1fr;
  }
  img {
    height: 100%;
  }
}
@media (max-width: 606px) {
  h2 {
    max-width: 100%;
    margin: 0 15px;
  }
}
@media (max-width: 400px) {
  #nav-list {
    justify-content: flex-start;
    margin: 0 auto;
  }
  h2 {
    font-size: 32px;
  }
  #contact-header {
    font-size: 30px;
  }
  #contact-paragraph {
    margin-bottom: 20px;
  }
  #contact {
    height: 100%;
    padding: 10px;
  }
  #footer {
    flex-direction: column;
    text-align: center;
    font-size: 17px;
    height: 200px;
  }
}
